@charset "UTF-8";
/* modules */
/*---------------------------------------------------------
 Reset (_reset.scss)
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff; }

a:focus,
a:hover,
a:active {
  outline: 0;
  outline: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

sub,
sup {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

a img {
  border: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/*---------------------------------------------------------
 Presets (_presets.scss)
-------------------------------------------------------- */
/*@mixin lead {
	font: {
		family: $titleFont;
		size: 18px;
	}
	line-height: $tightLH;
	color: $titleDarkC;
	@include smart-margin($pMargin);
}*/
/** button **/
/** label */
/** thumbnail **/
/* menu reset */
/*---------------------------------------------------------
 Mixins (_utility.scss)
-------------------------------------------------------- */
/*@mixin clearfix {	
	&:before,
	&:after {
		content: " "; 
		display: table;
	}	
	&:after {
		clear: both;
	}
}*/
/*---------------------------------------------------------
 Rem (_utility.scss)
-------------------------------------------------------- */
/*---------------------------------------------------------
 Helpers (_utility.scss)
-------------------------------------------------------- */
/*.align-left
.alignleft,
.entry-thumbnail.thumbnail {
	display: inline;
	float: left;
	margin: 0 1.5em 1.5em 0;
}

.align-right,
.alignright {
	display: inline;
	float: right;
	margin: 0 0 1.5em 1.5em;
}
.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
}*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

img.wp-smiley {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  border: none; }

/* text alignment */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: left; }

/*---------------------------------------------------------
 Captions (_patterns.scss)
-------------------------------------------------------- */
.wp-caption {
  max-width: 100%;
  font-style: italic;
  line-height: 1.35;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

.wp-caption-text,
.entry-thumbnail-caption,
.cycle-caption {
  font-style: italic;
  line-height: 1.35;
  font-size: 13px;
  font-size: 1.3rem; }

.wp-caption .wp-caption-text {
  margin: 12px 0;
  margin:  1.2rem 0;
  text-align: center; }

div.wp-video-shortcode {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

/*---------------------------------------------------------
 Predefined classes and selections (_utility.scss)
-------------------------------------------------------- */
/* utilities */
.clear {
  clear: both; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  text-decoration: none; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0; }

.invisible {
  visibility: hidden; }

.break, h1, h2, h3, h4, h5, h6, pre, table, p, ul, ol, dl, blockquote {
  word-break: break-word;
  word-wrap: break-word; }

/* selections */
a:link {
  -webkit-tap-highlight-color: #e0edd2;
  -webkit-tap-highlight-color: #dfecd1; }

/*  highloght color for Safari iOS */
::-webkit-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::-moz-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

/*---------------------------------------------------------
 Google maps (_utility.scss)
-------------------------------------------------------- */
iframe[src*="google.com/maps"] {
  width: 100%;
  height: 300px; }
  @media screen and (min-width: 800px) {
    iframe[src*="google.com/maps"] {
      height: 600px; } }

/*--------------------------------------------------------------
 Forms (_forms.scss)
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  cursor: pointer;
  border: 1px solid;
  border-color: #e1e1e1;
  background: #e1e1e1;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #d4d4d4;
  background: #d4d4d4; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #d4d4d4;
  background: #d4d4d4; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

input[type=search] {
  -moz-appearance: none;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #555555;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #2f3239; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

/*---------------------------------------------------------
 Semantics (_utility.scss)
-------------------------------------------------------- */
/* titles */
h1, h2, h3, h4, h5, h6 {
  color: #2f3239;
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal; }
  h1 a, h1 a:visited, a h1, h2 a, h2 a:visited, a h2, h3 a, h3 a:visited, a h3, h4 a, h4 a:visited, a h4, h5 a, h5 a:visited, a h5, h6 a, h6 a:visited, a h6 {
    color: inherit;
    text-decoration: none;
    font-weight: normal; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #1db318; }

/*h1 {
	@include for(medium-screens) {
		@include rem('font-size', 30px);
	}
	font-weight: normal;
	line-height: 1.15;
	@include rem('font-size', 28px);
}

h2 {
	@include for(medium-screens) {
		@include rem('font-size', 28px);
	}
	@include rem('font-size', 26px);
	line-height: 1.2;
}

h3 {
	@include rem('font-size', 21px);
	line-height: 1.2;
}

h4 {
	font-weight: normal;
	@include rem('font-size', 18px);
	line-height: 1.2;
}

h5 {	
	@include rem('letter-spacing', 1px);
	@include rem('font-size', 14px);
	line-height: 1.4;
}

h6 {
	font-weight: normal;
	text-transform: uppercase;
	@include rem('letter-spacing', 2px);
	@include rem('font-size', 13px);
	line-height: 1.5;
}*/
/*---------------------------------------------------------
Quote (_semantics.scss)
-------------------------------------------------------- */
/*blockquote {
	clear: both;
	@include rem('margin', $base 0);
	
	p {
		line-height: 1.5;
		@include rem('font-size', 18px);
	}
	cite {
		font-style: normal; //reset
		@include rem('margin-bottom', $base);
		@include rem('font-size', 13px);
		&:before {
			content: "\2014";
		}
	}
	
	&.testimonial {
		line-height: 0; //reset
		background-color: $color-secondary;
		@include rem('margin-bottom', $base*2);
		@include rem('padding', $base*1.5 $gut);
		@include border-radius;
		p {
			margin-bottom: 0; // reset
		}
		cite {
			display: block;
			margin-bottom: 0; // reset
			font-weight: bold;
			@include rem('padding', $base/2 0);
			@include rem('font-size', 14px);
		}
		&:after {
			content: "";
			position: relative;
			width: 0; //reset
			height: 0; //reset
			border-left: 22px solid transparent;
			border-right: 22px solid transparent;
			border-top: 22px solid $color-border-normal;
			@include rem('left', 5px);
			@include rem('bottom', -60px);
		}
	}
}*/
q:before {
  content: "\201C"; }
q:after {
  content: "\201D"; }

/*---------------------------------------------------------
Code (_semantics.scss)
-------------------------------------------------------- */
tt,
kbd,
pre,
code,
samp,
var {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;
  background-color: #f1f1f1;
  padding: 4px 6px;
  padding:  0.4rem 0.6rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

pre {
  overflow: auto;
  max-width: 100%;
  line-height: 1.4;
  margin: 24px 0;
  margin:  2.4rem 0;
  padding: 36px;
  padding: 3.6rem;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  color: #666; }

/*---------------------------------------------------------
Details (_semantics.scss)
-------------------------------------------------------- */
abbr,
acronym,
dfn {
  cursor: help;
  color: #1f1f1f;
  border-bottom: 1px dotted;
  letter-spacing: 1px;
  letter-spacing: 0.1rem; }

details summary {
  font-weight: bold;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
details :focus {
  outline: none; }

/*---------------------------------------------------------
In-page elements (_semantics.scss)
-------------------------------------------------------- */
ins,
mark {
  background-color: #eefded;
  color: #1f1f1f;
  text-decoration: none; }

del {
  text-decoration: line-through; }

b,
strong {
  font-weight: bold; }

dfn,
i,
em,
cite {
  font-style: italic; }

small {
  font-size: 85%; }

big {
  font-size: 125%; }

address {
  margin: 24px 0;
  margin:  2.4rem 0; }

hr {
  border: 0;
  border-top: 1px solid #dfdfdf;
  height: 1px;
  margin-bottom: 24px; }
  hr.hr-line-dashed {
    border-top: 1px dashed #dfdfdf; }
  hr.hr-line-double {
    border-top: 6px double #dfdfdf; }

figure {
  margin: 0; }

/*---------------------------------------------------------
Lists (_semantics.scss)
-------------------------------------------------------- */
ul,
ol {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

/*---------------------------------------------------------
Tables (semantics.scss)
-------------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  border: 1px solid #dfdfdf;
  border-left: 0;
  margin: 24px 0;
  margin:  2.4rem 0; }
  table caption {
    font-weight: bold;
    margin-bottom: 24px;
    margin-bottom: 2.4rem; }
  table th,
  table td {
    padding: 12px 7.5px;
    padding:  1.2rem 0.75rem; }
  table th {
    border-left: 1px solid #dfdfdf; }
  table td {
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf; }
    table td[valign="top"] {
      vertical-align: top; }
      table td[valign="top"] img {
        vertical-align: top; }
    table td[valign="bottom"] {
      vertical-align: bottom; }
      table td[valign="bottom"] img {
        vertical-align: bottom; }

/*---------------------------------------------------------
Alerts (_semantics.scss)
-------------------------------------------------------- */
.msg-alert {
  position: relative;
  overflow: hidden;
  border: 1px solid #b9b9b9;
  background-color: #dfdfdf;
  padding: 36px 30px;
  padding:  3.6rem 3rem;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .msg-alert:before {
    content: "\f05a";
    display: block;
    position: absolute;
    opacity: .1;
    font-family: FontAwesome;
    line-height: 1;
    bottom: -12px;
    bottom: -1.2rem;
    right: -12px;
    right: -1.2rem;
    font-size: 72px;
    font-size: 7.2rem; }
  .msg-alert.msg-error {
    color: #d04242;
    border: 1px solid #dfbaba;
    background-color: #f7eeee; }
    .msg-alert.msg-error:before {
      content: "\f06a"; }
  .msg-alert.msg-success {
    color: #339d56;
    border: 1px solid #badfc6;
    background: #eef7f1; }
    .msg-alert.msg-success:before {
      content: "\f058"; }
  .msg-alert.msg-important {
    color: #f89e01;
    border: 1px solid #fff365;
    background-color: #fffde5; }
    .msg-alert.msg-important:before {
      content: "\f06a"; }

/*---------------------------------------------------------
 Content elements (_semantics.scss)
-------------------------------------------------------- */
html .mceContentBody {
  font-size: 100%;
  max-width: 620px; }

body {
  background-color: #color-white;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 10px; }

a {
  color: #1db318;
  text-decoration: none; }
  a:visited {
    color: #1db318; }
  a:hover {
    color: #12700f; }

p {
  margin-bottom: base/2;
  margin-top: 12px; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 48px 0 24px;
  font-weight: 700; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em;
  font-weight: 400; }

h6 {
  margin-bottom: 18px;
  font-size: 0.9em;
  text-transform: uppercase; }

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 25px; }

blockquote {
  margin: 2.5em 0;
  padding: 0 80px 0 0;
  position: relative;
  color: #555555; }
  blockquote:before {
    content: "\f122";
    font: 64px/1 dashicons;
    width: 64px;
    height: 64px;
    color: #21c91b;
    position: absolute;
    top: -4px;
    right: -6px; }
  blockquote p {
    font-size: 1.1em;
    line-height: 1.55;
    font-style: italic; }
  blockquote cite {
    display: block;
    margin-top: 1em; }
    blockquote cite em {
      font-style: italic;
      font-weight: 700; }

cite {
  font-size: 0.9rem;
  line-height: 140%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  cite:before {
    content: "— "; }

address {
  margin: 0;
  padding: 3% 3.5%;
  background: #f1f1f1; }

pre {
  padding: 2% 2.5%;
  background: #333;
  font-size: 0.8em;
  color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.highlight {
  background: #eefded;
  width: auto;
  display: inline;
  padding: 2px 3px; }

dl {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.6; }
  dl:first-child {
    margin-top: 0; }
  dl:last-child {
    margin-bottom: 0; }
  dl dt {
    font-weight: 700;
    margin-top: 0.5em; }
    dl dt:first-child {
      margin-top: 0; }

hr {
  width: 100%;
  height: 2px;
  background: #e9e9e9;
  margin: 3em auto;
  border: 0; }

ul {
  list-style: disc;
  margin-left: 1.5em; }

ul ul {
  list-style: circle; }

ul ul ul {
  list-style: square; }

ol {
  list-style: decimal;
  margin-left: 1.5em; }

ol ol {
  list-style: lower-alpha; }

ol ol ol {
  list-style: lower-roman; }

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0; }

li {
  margin-bottom: 0.5em;
  line-height: 1.7; }
  li:last-child {
    margin-bottom: 0; }
  li:first-child {
    margin-top: 0.5em; }

img.alignleft,
.alignleft img,
img.aligncenter,
.aligncenter img,
img.alignright,
.alignright img,
img.alignnone,
.alignnone img {
  display: block;
  box-sizing: border-box; }

.alignleft,
.alignright {
  margin-bottom: 1em;
  max-width: 45%; }

.wp-caption .alignleft,
.wp-caption .alignright {
  margin-bottom: 0; }

.alignleft {
  float: left;
  margin-right: 1em; }

.alignright {
  float: right;
  margin-left: 1em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  margin-bottom: 1.5em; }

.wp-caption-text {
  margin: 0;
  padding-top: 10px;
  font-size: 0.9em;
  line-height: 1.2;
  font-style: italic;
  color: #555555;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 24px;
  font-weight: 700; }

.wp-caption {
  background: transparent;
  border: none; }
